/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body{
	color: #212121;
}
.header{
}
.header-cont{
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	box-sizing: border-box;
}
.header__logo--img,
.header__logo a img{
	width: 100px;
	height: auto;
}
.header__phone{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
}
.header__mails--callback{
	background: #1976D2;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid transparent;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    width: 230px;
    height: 40px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}
.header__mails--callback:hover{
    /*box-shadow: 5px 5px 15px 0px #212121;*/
	background-color: #FFEB3B;
	color: #212121;
}
.header__phone--a{
	color: #212121;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;	
	margin-bottom: 5px;
	border-bottom: 2px solid transparent;
	transition: 0.1s
}
.header__phone--a:hover{
	border-bottom: 2px solid #1976D2;

}
.header__phone--a:hover i{
	transition: 0.1s;
    transform: scale(1.2);
    transform: rotate(-20deg);

    color: #1976D2;
}
.header__address{
	display: flex;
}
.header__address--marker{
	font-size: 40px;
    margin-right: 10px;
    transition: 0.1s;
}
.header__address:hover .header__address--marker{
	color: #1976D2;
}
.header__address-con{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.header__address--a{
	color: #212121;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;	
	border-bottom: 2px solid #1976D2;
	margin-bottom: 5px;
}
.header__mails{}
.header__address--a:hover{
	border-bottom: 2px solid #FEE048;
}
.header__mails--a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #212121;
	border-bottom: 2px solid #FEE048;
	margin-bottom: 10px;
}
.menu{
	position: sticky;
	top:0;
	z-index: 10;
}
.header__mails--a:hover{}
.main-nav{
	background: #FFEB3B;
	padding: 10px 0;
}
.main-nav--ul{
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
}
.main-nav--li,
.main-nav--ul li{
	width: 12%;
	text-align: center;
	position: relative;
    transition: 0.3s;
}
.main-nav--ul li:after{
    content: "";
    width: 0;
    height: 2px;
    background: #1976d2;
    position: absolute;
    bottom: -5px;
    left: 10%;
    transition: 0.3s;
}
.main-nav--ul li:hover:after{
    width: 80%;
}
.main-nav--ul li a,
.main-nav--a{
	color: #212121;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	transition: 0.3s;
}
.main-nav--ul li a:hover,
.main-nav--a:hover,
.main-nav--ul .current-menu-item a,
.current-menu-item li{
	font-weight: 700;
	box-sizing: border-box;
}
li.current-menu-item:after{
	width: 80%;
}

.header__soc-links{
	width: 15%;
    flex-flow: row;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.slider{
	border: 5px solid #1976D2;
	height: 500px;
	width: 1400px; 
	margin: 0 auto;
	background-color: #1976D2;
	margin-bottom: 60px;
}
.main__text{
	margin-top: 87px;
}
.main__text--h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	position: relative;
	padding: 0 20px;
}
.main__text--h1:after{
	width: 40%;
	height: 5px;
	background-color: #1976D2;
	content: "";
	position: absolute;
	left: 30%;
	margin: 40px 0;
}
.pluses{
	width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-around;
	padding-top: 30px;
	box-sizing: border-box;
}
.pluses__one{
	flex-basis: 23%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
}
.pluses__one--h2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
	position: relative;
	margin-bottom: 25px;
}
.pluses__one--h2:after{
	width: 60%;
	height: 5px;
	background-color: #FFEB3B;
	content: "";
	position: absolute;
	bottom: -10px;
	left: 20%;
}
.pluses__one--p{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0;
}
.pluses-more--a{
	display: block;
	margin: 10px auto;
	text-align: center;
	background: #FFEB3B;
    color: #212121;
    padding: 10px 25px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    width: 230px;
    height: 40px;
    transition: 0.3s;
    border-radius: 20px;
}
.pluses-more--a:hover{
	background: #1976D2;
	color: #fff;
}
.how-cont{
	width: 1400px;
	margin: 0 auto;
	padding: 20px 40px;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-around;
}
.how--h2{ 
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
	position: relative;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 50px;

}
.how--h2:after{
	width: 60%;
	height: 5px;
	background-color: #FFEB3B;
	content: "";
	position: absolute;
	bottom: -10px;
	left: 20%;	
}
.how-one{
	flex-basis: 20%;
}
.how-one h3{
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
}
.how-one h3:after{
	width: 80%;
	height: 5px;
	background-color: #1976D2;
	content: "";
	position: absolute;
	bottom: -10px;
	left: 10%;
}
.how-one p{
	font-family: 'Open Sans', sans-serif;
	padding-left: 20px;
}
.img{
	width: 1400px;
	height: 500px;
	background-color: #1976D2;
	margin: 60px auto;
	box-sizing: border-box;
	border: 5px solid #FFEB3B;
}
.soc-links--a{    
	width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
	text-decoration: none;
	color: #212121;
	font-size: 23px;
	border: 3px solid #1976D2;
}
.soc-links--vk{
}
.soc-links--fb{
}
.soc-links--inst{
}
.soc-links--vk:hover{
	background: #4c75a3;
	color: #fff;
	border: none;
}
.soc-links--fb:hover{
	background: #3b5998;
	color: #fff;
	border: none;
}

.soc-links--inst:hover{
	border: none;
	color: #fff;
    background: radial-gradient(circle farthest-corner at 35% 100%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 10% 140%,#feda7e,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),-webkit-gradient(linear,left top, left bottom,from(#6559ca),color-stop(30%, #bc318f),color-stop(50%, #e42e66),color-stop(70%, #fa5332),to(#ffdc80));
    background: -webkit-radial-gradient(35% 100%,circle farthest-corner,#fec564,transparent 50%),-webkit-radial-gradient(10% 140%,circle farthest-corner,#feda7e,transparent 50%),-webkit-radial-gradient(0 -25%,ellipse farthest-corner,#5258cf,transparent 50%),-webkit-radial-gradient(20% -50%,ellipse farthest-corner,#5258cf,transparent 50%),-webkit-radial-gradient(100% 0,ellipse farthest-corner,#893dc2,transparent 50%),-webkit-radial-gradient(60% -20%,ellipse farthest-corner,#893dc2,transparent 50%),-webkit-radial-gradient(100% 100%,ellipse farthest-corner,#d9317a,transparent),-webkit-linear-gradient(#6559ca,#bc318f 30%,#e42e66 50%,#fa5332 70%,#ffdc80 100%);
    background: -o-radial-gradient(35% 100%,circle farthest-corner,#fec564,transparent 50%),-o-radial-gradient(10% 140%,circle farthest-corner,#feda7e,transparent 50%),-o-radial-gradient(0 -25%,ellipse farthest-corner,#5258cf,transparent 50%),-o-radial-gradient(20% -50%,ellipse farthest-corner,#5258cf,transparent 50%),-o-radial-gradient(100% 0,ellipse farthest-corner,#893dc2,transparent 50%),-o-radial-gradient(60% -20%,ellipse farthest-corner,#893dc2,transparent 50%),-o-radial-gradient(100% 100%,ellipse farthest-corner,#d9317a,transparent),-o-linear-gradient(#6559ca,#bc318f 30%,#e42e66 50%,#fa5332 70%,#ffdc80 100%);
    background: radial-gradient(circle farthest-corner at 35% 100%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 10% 140%,#feda7e,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),linear-gradient(#6559ca,#bc318f 30%,#e42e66 50%,#fa5332 70%,#ffdc80 100%);
}    
.prepods{
	margin: 60px auto;
	width: 1400px;
	box-sizing: border-box;
}
.prepods--h2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 50px;
	position: relative;
	font-size: 30px;
	text-transform: uppercase;
}
.prepods--h2:after{
	width: 20%;
	height: 5px;
	background-color: #3b5998;
	content: "";
	position: absolute;
	bottom: -10px;
	left: 40%;	
}
.prepods-con{
	/*flex-flow: row nowrap;*/
	/*align-items: flex-start;*/
	/*justify-content: space-around;*/
	width: 100%;
	position: relative;
	height: 500px;
	overflow: hidden;
}
.slider-con{
	width: 90%;
	margin: 0 auto;
	height: 500px;
}
.prepod{
	width: 22%;
	position: relative;
}
.prepod h4{
	font-family: 'Roboto', sans-serif;
	margin: 10px auto;
	position: relative;
	display: inline-block;
	text-transform: capitalize;
	text-align: center;
}
.prepod h4 span{
	text-align: center;
	font-size: 20px;
}
.prepod h4 a{
	display: block;
	margin: 10px auto;
	text-align: center;
    padding: 10px 25px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    width: 230px;
    height: 40px;
    transition: 0.3s;
    border-radius: 20px;
	background: #1976D2;
	color: #fff;	
}
.prepod h4 a:hover,
.prh4 a:hover{
	background: #FFEB3B;
    color: #212121;
}
/*.prepods__pre-one:nth-child(3){
	left: 70px;
}
.prepods__pre-one:nth-child(4){
	left: 510px;
}
.prepods__pre-one:nth-child(5){
	left: 950px;
}
.prepods__pre-one:nth-child(6),
.prepods__pre-one:nth-child(7),
.prepods__pre-one:nth-child(8),
.prepods__pre-one:nth-child(9){
	left: 1400px;
}*/
.prepods-con__btn{
	position: absolute; 
	top: calc(50% - 50px);
	z-index: 5;
	border: none;
	background-color: transparent;
	font-size: 50px;
	cursor: pointer;
}
#prev-prepod{
	left: 5px;
}
#next-prepod{
	right: 5px;
}
.prepods__pre-one{
	/*width: 380px;*/
	width: 90%!important;
	margin: 0 auto;

	height: 500px;
	overflow: hidden;
	position: relative;
	top: 0;
    transition: 0.3s;
}
.prepods__pre-one:hover{
	box-shadow: 5px 5px 15px 0px rgba(33, 33, 33,0.3);
}
.prepods__pre-one:hover	.pre-one__img--first{
    transition: 0.3s;
	opacity: 0;
}
.pre-one__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.pre-one__img--first{
	z-index: 2;
}
.pre-one__img--second{
	z-index: 1;
}
.pre-one__desc{
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
    padding: 10px;
    opacity: 0;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.35s;
    z-index: 8;
}
.prepods__pre-one:hover .pre-one__desc{
	opacity: 1;
    bottom: -16%;
}
.desc__name--h4{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
    padding: 0 20px;
}
.desc__name--p{
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-align: center;
    margin: 10px 0;	
    padding: 0 20px;
}
.prepods--a{
	display: block;
	margin: 50px auto;
	text-align: center;
	background: #1976D2;
    color: #fff;
    padding: 10px 25px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    width: 230px;
    height: 40px;
    transition: 0.3s;
    border-radius: 20px;
}
.prepods--a:hover{
	background: #FFEB3B;
	color: #212121;	
}
.news{
	margin-bottom: 60px;
}
.news--h2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
	position: relative;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.news--h2:after{
	width: 40%;
	height: 5px;
	background-color: #FFEB3B;
	content: "";
	position: absolute;
	bottom: -10px;
	left: 30%;	
}
.news-con{
	display: flex;
	flex-flow: row nowrap;
	align-items: center; 
	justify-content: space-around;
	width: 1400px; 
	margin: 0 auto;
	box-sizing: border-box;
}
.news-con__n-one{
	width: 20%;
	height:  400px; 
	display: flex; 
	flex-flow: column; 
	align-items: center; 
	justify-content: space-around; 
	overflow: hidden;
	position: relative;
}
.news-con__n-one:hover{
	box-shadow: 5px 5px 15px 0px rgba(33, 33, 33,0.3);
	top: -5px;
	left: -5px;
}
.n-one--img{
	border-radius: 50%; 
	width: 170px; 
	height: 170px; 
	object-fit: cover;
	margin: 0 auto;
}
.n-one--p,
.news-con__n-one p{
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    overflow: hidden;
    height: 46px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0 10px;
}
.n-one--more{ 
    color: #212121;
    padding: 5px 15px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: 0.25s;
    font-size: 13px;
    border-bottom: 2px solid #1976D2;
    font-weight: 700;
    position: relative;
    z-index: 2;
}
.n-one--more:hover{
    border-color: #FFEB3B;
}
.n-one--more{
    font-family: 'Roboto', sans-serif;
    color: #212121;
    font-weight: 700;
    text-decoration: none;
	background-color: #FFEB3B;
    padding: 10px 25px;
    border: none;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}
.n-one--more:hover{
	background: #1976D2;
	color: #fff;
}

/* PRICE ______________________________________________*/
.price{
}
.price-con{
	width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
}
.price--h2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
	position: relative;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.price--h2:after{
	width: 40%;
	height: 5px;
	background-color: #FFEB3B;
	content: "";
	position: absolute;
	bottom: -10px;
	left: 30%;
}
.price--h3,
.mobile-price--h3{
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
	margin-top: 50px;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: 20px;
}
.price--h3:first-child{
	margin-top: 0;
}
.price__table{
	width: 100%;
	border-collapse: collapse;
	border-bottom: 3px solid #3b5998;

}
.table__head{
	position: relative;
	border-bottom: 5px solid transparent;
}
.table__head:after{
	background: linear-gradient(45deg, #FFEB3B 40%, #1976D2 60%);
	height: 5px;
	width: 1400px;
	display: block;
	content: "";
	position: absolute;
}
.price__table:nth-child(2n)
.table__head:after{
	background: linear-gradient(45deg, #1976D2 40%, #FFEB3B 60%);

}
.table__head--tr{}
.table__head--td{
	width: 25%;
	padding: 0;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-align: center;
}
.table__head--td-m{
	display: none;
}
.table--td{
	width: 25%;
	display: table-cell;
	padding:10px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.mobile-price{
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	border: 2px solid red;
	display: none;
}

/*News_______________________________*/
.content{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	width: 1400px;
	margin: 0 auto;
	margin-top: 40px;
	   margin-bottom: 20px;
}
.aside__news{
	flex-basis: 20%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 20px;
}
.aside__news--header{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
	text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 10px;
}
.aside__news--header:after{
	width: 60%;
    height: 4px;
    background-color: #1976D2;
    content: "";
    position: absolute;
    bottom: -7px;
    left: 20%;
}
.aside__news-con{
    padding: 5px 0;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: rgba(255, 235, 59, 0.3);	
}
.aside__news-con:last-child{}
.aside__news--arrow{
	flex-basis: 10%;
	background: rgba(0, 0, 0, 0.0);
	height: 130%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.aside__news--btn{
	font-size: 30px;
	color: rgba(0, 0, 0, 0.7);
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: transparent;
    border: none;
}
.aside__news--btn:hover{
	background: rgba(0, 0, 0, 0.1);
	color: #fff;
}
.aside__news__n-one{
	margin: 0;
	/*position: absolute;*/
	top: 10px;
	left: 0px;
	width: 100%;
	transition: 0.3s;
	height:  300px; 
	max-height: 100%;
	display: flex; 
	flex-flow: column; 
	align-items: center; 
	justify-content: space-between; 
}
.n-one--h5{
	text-decoration: none;
	color: #212121;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: center;
	margin: 5px auto;
	margin-top: 25px;
    padding: 0 10px;
}
.n-one--p,
.aside__news__n-one p{
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    overflow: hidden;
    height: 15px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0 10px;
}
.one-article{
	flex-basis: 70%;
	box-sizing: border-box;
	padding: 20px;
	margin: 0 auto;
	/*border: 2px solid #1976D2;*/
	border-radius: 20px;
}
.one-article--h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	position: relative;
}
.one-article--h1:after{
	width: 40%;
	height: 5px;
	background-color: #1976D2;
	content: "";
	position: absolute;
	/*bottom: -10px;*/
	left: 30%;
	margin: 40px 0;
}
.one-article--h1-404{
	font-family: 'Roboto', sans-serif; 
	font-size: 120px; 
	font-weight: 700; 
	text-transform: uppercase;
	margin: 10px 0;
}
.one-article--img{
	width: 40%;
	height: auto;
	object-fit: cover;
	float: left;
	margin: 0 20px;
}
.one-article--p,
 .one-article p{
	/*padding: 20px;*/
	/*float: left;*/
	margin: 0;
}
.one-article__content{
	padding: 20px;
}
.share-links{
	margin-top: 30px;
}
.share-links--img{
	width: 30px; 
	height: 30px;
	fill: #6c6c6c;
}
.share-links--a:hover .share-links--vk{
	fill: #4c75a3;
}
.share-links--a:hover .share-links--fb{
	fill: #3b5998;
}
.share-links--a:hover .share-links--ok	{
	fill: #EE8208;
}
.share-links--a:hover .share-links--mail{
	fill: #005FF9;
	background-color: #EAAC52;
}
.share-links--a:hover .share-links--tw{
	fill: #1DA1F3;
}


/*__________________footer__________________*/
.footer{
	background-color: #1976D2;
}
.footer-con{
	width: 1400px; 
	margin: 0px auto;
	padding: 30px 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: center;
	box-sizing: border-box;
}
.footer__copy,
.footer__adult,
.footer__kids,
.footer__info{
	flex-basis: 25%;
}
.footer__adult--h5,
.footer__kids--h5,
.footer__info--h5{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.9);
	margin: 10px auto;
	position: relative;
	text-transform: capitalize;
}
.footer__adult--ul,
.footer__kids--ul,
.footer__info--ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer__adult--ul li a,
.footer__kids--ul li a,
.footer__info--ul li a, 
.footer__adult--a,
.footer__kids--a,
.footer__info--a{
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
	margin: 10px auto;
	position: relative;
}
.footer__adult--ul li a:hover,
.footer__kids--ul li a:hover,
.footer__info--ul li a:hover, 
.footer__adult--a:hover,
.footer__kids--a:hover,
.footer__info--a:hover{
	text-decoration: none;
}

.copy__soc{
	display: flex;
	width: 70%;
	align-items: center;
	justify-content: space-around;
}
.copy__soc--a{
	font-size: 30px;
	color: #fff;
}
.copy__contacts{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	padding-top: 20px;
}
.copy__contacts--a{
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.8);
	margin: 5px 0;
	position: relative;
	text-transform: capitalize;
	text-decoration: none;
}
.copy__contacts--callback{
	background: #FFEB3B;
    color: #212121;
    padding: 5px 10px;
    margin: 10px 0;
    border: 2px solid transparent;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    width: 230px;
    /*height: 40px;*/
    transition: 0.3s;
    border-radius: 20px;
    text-align: center;
}
.copy__contacts--callback:hover{
	box-shadow: 5px 5px 15px 0px #212121;

}
.copy__copyright--p{
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.8);
	margin: 10px auto;
	position: relative;
}
.copy__copyright--pc{
	font-size: 14px;
}
.copy__copyright--a{
	/*text-decoration: none;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.8);
}

/*_____________________________CALLBACK__________*/
.callback{
	background: #1976D2;
	/*background: url(../img/form--bg1b.jpg) center center no-repeat;*/
	background-size: cover;
	margin-top: 60px;
}
.callback-con{
	width: 1400px;
	padding: 25px 0;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
    /*height: 300px;*/
}
.callback__header--h2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 5px 0;
	position: relative;
	color: #fff;
	/*margin-bottom: 50px;*/
}
.form,
#wpcf7-f322-p180-o1 form,
.callback-con form{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	justify-content: space-around;
	width: 100%;
	/*margin-bottom: 20px;*/
}
.form__name--label,
.form__phone--label{
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 18px;
	/*color: rgba(0, 0, 0, 0.8);*/
	/*margin: 10px auto;/*/
	/*margin: 5px auto;*/
	position: relative;
}
.form__name{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	/*width: 35%;*/
}
.form__name input[type='text'],
.form__name .wpcf7-form-control-wrap input{
	border-radius: 30px;
	border: solid 2px #FFEB3B;
	width: 70%;
	height: 45px;
	box-sizing: border-box;
	padding: 0 20px;
	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

}
.form__name span,
.form__phone span{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.form__phone{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	/*width: 35%;*/
}
.form__phone input[type='tel']{
	border-radius: 30px;
	border: solid 2px #FFEB3B;
	width: 70%;
	height: 45px;
	box-sizing: border-box;
	padding: 0 20px;
	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

}
.form input[type='submit'],
.wpcf7-form input[type='submit']{
	width: 80%;
	border-radius: 30px;
	border: solid 2px #FFEB3B;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.8);
	padding: 10px 0;
	position: relative;
	height: 45px;
	background: #fff;
}
input[type="submit"]:hover {
    background: #fee048;
    transition: 0.3s;
    color: #212121;
    font-weight: 700;
	box-shadow: 5px 5px 15px 0px black;

}
div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}
.form{
	position: relative;
}
.form span.wpcf7-not-valid-tip {
    position: absolute;
    bottom: -25px;
    border-bottom: 2px solid red;
}
.wpcf7-validation-errors,
.form .wpcf7-mail-sent-ok{
	position: absolute;
    bottom: -10px;
    margin: 0;
    /* background: #fff; */
    /* left: 50%; */
    color: #fff;
    border-width: 5px;
    border-color: #FFEB3B;
    /* transform: translate(0, 50%); */
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    background: #1976D2;
}
.wpcf7-validation-errors{
    border-color: red;
    border-width: 5px;
}
.form p{
	width: 30%;
}
div.wpcf7{
	width: 100%;
}
/*___________MAP___________*/
.map-contacts {
	width: 100%;
	height: 620px;
}
.map {
	width: 100%;
	height: 375px;
}



/*.form input[type='text'] {
	border-radius: 30px;
	border: solid 2px #1976D2;
	width: 35%;
	outline: solid red;
}
.form input[type='submit'] {
	width: 20%;
	border-radius: 30px;

	border: solid 2px #1976D2;
}*/

/*_______contacts_________________________*/

.contacts-con{
	width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	margin-bottom: 40px;
}
.contacts__header--h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 50px;
}
.contacts__header--h1:after{
	width: 40%;
	height: 5px;
	background-color: #1976D2;
	content: "";
	position: absolute;
	bottom: -10px;
	left: 30%;
	/*margin: 40px 0;*/
}
.contacts__map{
	width: 50%;
}
.contacts__info{
	width: 50%;
	padding: 0 20px;
}
.contacts__info--address{
    font-weight: 700;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}
.contacts__info--address:first-child{
	margin-top: 0;
}
.contacts__info--time{
    /*font-weight: 700;*/
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}
.contacts__info--phone{
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #212121;
    border-bottom: 2px solid #1976D2;
    /*display: block;*/
    margin-right: 10px;
}
.contacts__info--phone:hover{
    border-bottom: 2px solid #FFEB3B;

}
.info__form{
	margin: 10px 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}
.info__form--h3{
	/*text-align: center;*/
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	position: relative;
	margin: 10px 0;
	/*margin-bottom: 30px;*/
	    line-height: 1.5;
}
.info__form--form{
	width: 50%;
		display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.info__form--text{
	border-radius: 30px;
	width: 100%;
	height: 45px;
	box-sizing: border-box;
	padding: 0 20px;
	font-family: 'Open Sans', sans-serif;
	border: solid 2px #1976D2;

	font-size: 16px;
	margin-bottom: 20px;
}
.info__form--text:focus{
	border: solid 2px #FFEB3B;
}

.info__form--submit {
	width: 70%;
	border-radius: 30px;
	border: solid 2px #1976D2;
	background: #1976D2;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #fff;
	/*background: #fff;*/
	padding: 10px 0;
	position: relative;
	height: 45px;
	transition: 0.3s;
}
.info__form--submit:hover{
	background: #FFEB3B;
	border-color: #FFEB3B;
	color: #212121;
	
}
/*________feedbacks_________________*/
.feedbacks__con{
	width: 1400px;
	margin: 0 auto;

}
.feedbacks__header--h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 50px;
}
.feedbacks__header--h1:after{
	width: 40%;
	height: 5px;
	background-color: #1976D2;
	content: "";
	position: absolute;
	/*bottom: -10px;*/
	left: 30%;
	margin: 40px 0;
}
.feed-all__one-feed{
	display: flex;
	flex-flow: row nowrap;
	/*align-items: flex-start;*/
	align-items: center;
	
	border-radius: 50px;
	/*border: 3px solid #FFEB3B;*/
	border: 3px solid lightgray;
	padding: 30px;
	margin-bottom: 30px;
}
.one__feed__text--more{
	display: flex; 
	align-items: center; 
	justify-content: flex-start; 
	margin: 20px 0;
}
.feed-all__one-feed:nth-child(2n){
	/*border-color: #1976D2;*/
}
.feed-all__one-feed:nth-child(2n) .one-feed__img{
	align-self: flex-start;
	order: 2;
}

.feed-all__one-feed:nth-child(2n) .one__feed__text--more{
	justify-content: flex-end;
}
.one-feed__img{
	width: 30%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.one-feed__img--img{
	width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
}
.one-feed__text{
	width: 70%;
	padding: 0 20px;
}
.one-feed__text p.one-feed__text--name-p{
	font-family: 'Roboto', sans-serif;
	margin: 10px auto;
	position: relative;
	text-transform: capitalize;
	text-align: left;
	font-size: 20px;
	font-weight: 700;
}
.one-feed__text--text-p,
.one-feed__text p,
.one-article__content p{
	font-family: 'Open Sans', sans-serif;
	/*margin: 10px auto;*/
	position: relative;
	/*display: inline-block;*/
}
.feed-all__one-feed:nth-child(2n) .one-feed__text--name-p,
.feed-all__one-feed:nth-child(2n) .one-feed__text--text-p,
.feed-all__one-feed:nth-child(2n) .one-feed__text p{
	text-align: right;
}
.feedbacks + .one-article{
	border: none;
}
/*___________PRICE_________________*/
.price-con{
	width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center; 
}
.price__header--h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 50px;
}
.price__header--h1:after{
	width: 40%;
	height: 5px;
	background-color: #1976D2;
	content: "";
	position: absolute;
	/*bottom: -10px;*/
	left: 30%;
	margin: 40px 0;

}
.price-one{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: center;
	border: 5px solid #FFEB3B;
	border-radius: 20px;
	padding: 10px;
	box-sizing: border-box;	
	margin-bottom: 30px;
}
.price-one:nth-child(2n){
	border: 5px solid #1976D2;
}
.price-one:nth-child(2n) .price-one__desc{
	-webkit-order: 2;
	-moz-order: 2;
	-ms-order: 2;
	-o-order: 2;
	order: 2;
}
.price-one__desc,
.price-one__price-table{
	/*flex-basis: 50%;*/
	box-sizing: border-box;
	/*border:1px solid red;*/
}
.desc__header--h2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
	position: relative;
}
.desc__text p,
.desc__text--p{
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: justify;
    margin: 10px 10px;	
}
.price-table__head--td{
	font-family: 'Roboto', sans-serif;
    font-size: 17px;
	text-align: center;
	font-weight: 700;

}

/*____CERTS_____________*/

.content-con{
	width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;

}
.content-con img{
	width: 15%;
	height: auto;
	margin-bottom: 10px;	
}
.certs__header--h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	position: relative;
}
.certs__header--h1:after{
	width: 40%;
	height: 5px;
	background-color: #1976D2;
	content: "";
	position: absolute;
	/*bottom: -10px;*/
	left: 30%;
	margin: 40px 0;
}
/*_________nativs__________________________*/

.nativs{
	width: 1500px;
	margin: 60px auto;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
	box-sizing: border-box;
}
.nativs__block{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
.one-person--img{
	width: 100%;
	height: 100%;
	filter: grayscale(1);
	transition: transform 15s;
	position: relative;
	z-index: 1;
	object-fit: cover;
}
.block__text{
	box-sizing: border-box;
	width: 750px;
	height: 250px;
	background: #1976D2;
	display: flex;
	flex-flow: column nowrap; 
	align-items: center;
	justify-content: center;
}
.block__text--h2{
	position: relative;
	font-family:'Roboto', sans-serif;
	text-align: center;
	font-size: 28px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.5px;
}
.block__text--h2:after{
	width: 50%;
	height: 5px;
	background-color: #FFEB3B;
	content: "";
	position: absolute;
	bottom: -10px;
	left: 25%;	
}
.block__text--p{
	font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    width: 60%;
    color: #fff;
    margin: 0 auto;
}
.nativ__block--imgs{
	display: flex;
}
.block__one-person{
	overflow: hidden;
	box-sizing: border-box;
	width: 250px;
	height: 250px;
	position: relative;
}

.block__one-person:hover .one-person--img{
	transform: scale(1.5);
}
.one-person--info{
	/*display: none;*/
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	color: #fff;
	font-family: "Roboto", sans-serif;
	text-align: center;
	width: 100%;
	line-height: 1.3;
	transition: opacity 0.5s;
	z-index: 4;
	/*text-shadow: -3px -3px 3px rgba(0,0,0,.6), -3px 3px 3px rgba(0,0,0,.6), 3px 3px 3px rgba(0,0,0,.6), 3px -3px 3px rgba(0,0,0,.6);*/
	/*text-shadow: -3px -3px 3px #093954, -3px 3px 3px #093954, 3px 3px 3px #093954, 3px -3px 3px #093954;*/
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;

}
.one-person--info-name{
	text-transform: capitalize;
	font-weight: 700;
	font-size: 22px;

}
.block__one-person:hover .one-person--info{
	/*display: block;*/
	opacity: 1;
}
/*____________*/
.site-main{
	width: 1400px;
	margin: 0 auto;
}
.header--h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	position: relative;
}
.header--h1:after{
	width: 40%;
	height: 5px;
	background-color: #1976D2;
	content: "";
	position: absolute;
	/*bottom: -10px;*/
	left: 30%;
	margin: 40px 0;
}
.prepods{
}
.prepods__con{
	margin-top: 30px;
}
.prepod-one{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 40px;
}
.prepod-one:after {
    background: linear-gradient(45deg, #FFEB3B 40%, #1976D2 60%);
    height: 5px;
    width: 1400px;
    display: block;
    content: "";
    position: absolute;
    bottom: -20px;
}
.prepod-one__photos{
	    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prepod-one__photos,
.prepod-one__desc{
	width: 50%;
	position: relative;

}
.photo-con{
	width: 450px;
    height: 650px;
    position: relative;
}
.prepods-one__photo{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	right: 0;
	transition: 0.3s;
}
.prepod-one__desc{
	display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
.photo-con:hover .prepods-one__photo--first {
	opacity: 0;
}
.prepod-one__desc--h2{
	text-align: left;
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
	position: relative;
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.desc__info--h4{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: left;
    font-size: 20px;
    margin: 10px 0;
}
.desc__info--p,
.desc__info p{
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: justify;
    margin: 10px 10px;	
}
.info--content {
	margin: 10px 0;

}
.info--content p{
	margin: 0;
}
.contacts__form form{
	position: relative;
}
.contacts__form .wpcf7-response-output{
	color: red;
	position: absolute;
}
.contacts__form .info__form--text{
	border-radius: 30px;
	/*width: 100%;*/
	height: 45px;
	box-sizing: border-box;
	padding: 0 20px;
	font-family: 'Open Sans', sans-serif;
	border: solid 2px #1976D2;

	font-size: 16px;
	margin-bottom: 30px;

}
.contacts__form .info__form--text:focus{
	border: solid 2px #FFEB3B;
}
.contacts__form span.wpcf7-not-valid-tip {
    position: absolute;
    bottom: -39px;
    border-bottom: 2px solid red;
    width: 80%;
    left: 20px;
    font-family: 'Open Sans', sans-serif;
}
.wpcf7-validation-errors,
.contacts__form .wpcf7-mail-sent-ok{
	position: absolute;
    bottom: -10px;
    margin: 0;
    /* background: #fff; */
    /* left: 50%; */
    color: #fff;
    border-width: 5px;
    border-color: #FFEB3B;
    /* transform: translate(0, 50%); */
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
}
.contacts__form .wpcf7-validation-errors{
    border-color: red;
    border-width: 5px;
    bottom: -45px;
    left: 20px;
    width: 130%;
}
.contacts__form .wpcf7-mail-sent-ok{
	color: #000;
	bottom: -40px;
	width: 110%;
}
.contacts-tel,
.contacts-name,
.contacts-quest{
	position: relative;
}
.info__form--text-field{
	border-radius: 30px;
	width: 100%;
	height: 145px;
	box-sizing: border-box;
	padding: 0 20px;
	font-family: 'Open Sans', sans-serif;
	border: solid 2px #1976D2;

	font-size: 16px;
	margin-bottom: 30px;
}
.info__form--text-field:focus{
	border: solid 2px #FFEB3B;
}
.contacts-quest span.wpcf7-not-valid-tip{
	bottom: -90px;
}
.m-menu--btn{
	display: none;
}
/*_____________________________________________________*/

.menu {
    text-align: right;
    background: #FFEB3B;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.menu__icon {
   display: none;
   width: 45px;
   height: 35px;
   position: relative;
   cursor: pointer;
   margin-right: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
   align-self: flex-end;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
 }

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .main-nav--ul {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}
.menu.menu_state_open .main-nav--ul li{
	margin: 10px 0;
	width: auto;
}
.m-header{
	display: none;
}
.m-menu{
	display: none;
	flex-flow: row; 
	width: 100%; 
	justify-content: space-between; 
	align-items: center;
}
.popup,.popup__map {
		position: fixed;
		height:100%;
		width:100%;
		top:0;
		left:0;
		z-index: 10;
		display:none;
		text-align:center;
}
.popup_bg, .popup_bg__map {
	background:rgba(0,0,0,0.8);
	position:absolute;
	z-index:11;
	height:100%;
	width:100%;
}
.popup_img, .popup__map-con .contacts__form .wpcf7-validation-errors{
	left: -20px;
	width: 110%;
}
.popup_img, .popup__map-con .contacts__form span.wpcf7-not-valid-tip{
	width: 70%;
}
.popup_img, .popup__map-con {
	position: absolute;
	margin:0 auto;
	z-index:20;
	max-height:90%;
	max-width:90%;
	top: 50%;
	left: 50%;
	background: #fff;
	padding: 20px;
	padding-bottom: 40px;
   	border-radius: 20px;
   	overflow: hidden;

	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.popup__map-close {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 13;
}
.popup__close--i{
	font-size: 2rem;
	cursor: pointer;
	color: #fff;
}
.program--h2{
	font-family: 'Roboto', sans-serif;
    margin: 10px 0;
    margin-top: 50px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px;
    box-sizing: border-box;
}
.program__con{
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: space-around;
	 align-items: center;
	 box-sizing: border-box;
}

.program__one-program{
	background-position: center center;
	background-repeat: no-repeat; 
	background-size: cover;

	flex-basis: 48%;
	min-height: 175px;
	/*border-radius: 30px;*/
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	transition: 0.25s;
	overflow: hidden;
	/*border: 3px solid #FFEB3B;*/
	margin-bottom: 20px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.program__one--more{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 16px;
	color: #212121;
    text-decoration: none;
    font-weight: 700;

	padding: 0 15px;
	box-sizing: border-box;
    border-bottom: 2px solid #1976D2;

	position: relative;
    z-index: 2;

	opacity: 0;
	transition: 0.25s;
}
.program__one--more:hover{
	border-color: #FFEB3B;
}
.program__one-program:hover .program__one--more{
	/*border: 3px solid #1976D2;*/
	opacity: 1;
}
.program__one-program img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 25s;
	opacity: 0.3;
	object-position: 0px -150px;
	z-index: 0;
}
.program__one-program:hover img{
	transform: scale(2);
	/*width: 150%;*/
	/*height: 150%;*/
}
.program__one-program:nth-child(3) img,
.program__one-program:nth-child(4) img{
	object-position: 0px -50px;
	/*background: red;	*/
}
.program__one-program:nth-child(5) img{
	object-position: 0px -100px;
}
.program__one-program--h3{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
	position: relative;
	font-size: 20px;
	color: #212121;
	text-decoration: none;
	text-transform: uppercase;
}
.program__header{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	width: 100%;
	min-height: 250px;
	box-sizing: border-box;
	padding: 30px 0;

	position: relative;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	background: #737373;

}
.program__header--h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	color: #fff;
	margin-top: 0;
	margin-bottom: 15px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}
.program__header--img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;

	width: 100%;
	height: 100%;
	object-fit: cover;

	opacity: 0.5;

}
.program__header > p{
    position: relative;
    z-index: 2;
    margin: 20px 0;
    font-family: 'open sans', sans-serif;
    font-size: 25px;
    color: #fff;
}
.program__header form label{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;

	padding: 0 10px;
}
.program__header form label input{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;

	padding: 0px 10px;
	margin-top: 5px;
    height: 45px;

	box-sizing: border-box;
    border-radius: 30px;
    border: solid 2px #FFEB3B;
}
.program__header form{
	max-width: 1400px;
	margin: 0 auto;
	padding: 30px 0;
	box-sizing: border-box;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;

	position: relative;
	z-index: 2;

	background: rgba(255, 255, 255, 0.5);
}

.program__header form p{
	margin-top: 0;
	margin-right: 20px;
}
.program__header form p:last-child{
	margin-right: 0;
}
.program__header form input[type='submit']{
	background: #1976D2;
	border: none;
	color: #fff;
	width: auto;
	padding: 0 20px;
	font-weight: 700;
}
.program__header form input[type='submit']:hover{
	box-shadow: none;
	background: #FFEB3B;
	color: #212121;
}
.program__header form span{
	position: relative;
}
.program__header form span.wpcf7-not-valid-tip {
	position: absolute;
    bottom: -35px;
    left: 10px;
    border-bottom: 2px solid red;
    font-size: 15px;
    font-weight: 400;
}
.program__header form .wpcf7-validation-errors{
	position: absolute;
    bottom: 0px;
    margin: 0;
	
    border-width: 5px;
    border-color: #FFEB3B;

    font-family: 'Open Sans', sans-serif;
    color: #212121;
    font-size: 16px;
    font-weight: 700;
}
.program__header form .wpcf7-mail-sent-ok{
	position: absolute;
	bottom: 10px;
    margin: 0;

	font-family: 'Open Sans', sans-serif;
    color: #212121;
    font-size: 16px;
    font-weight: 700;
}
.program__header form .wpcf7-validation-errors{
    border-color: red;
    border-width: 5px;
}
.program__content{
	flex-basis: 70%;
	margin: 0 auto;
}
.program__content p{
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.program__content p em{
	font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    border-bottom: 2px solid #1976D2;
    display: inline-block;
    margin-bottom: 5px;
}
@media (min-width: 1200px) and (max-width: 1400px) {
	.header-cont{
		justify-content: space-around;
	}
	.news-con,
	.nativs,
	.pluses,
	.how-cont,
	.prepods,
	.contacts-con,
	.site-main,
	.price-con,
	.table__head:after,
	.callback-con,
	.footer-con,
	.content{
		width: 1200px;
	}
	.footer-con{
		justify-content: space-around;
	}
	.footer__copy, 
	.footer__adult, 
	.footer__kids, 
	.footer__info{
		flex-basis: 18%;
	}

	.contacts__info--address{
		margin: 5px 0;
	}
	.contacts__info--time{
		margin-top: 10px;
	}
	.info__form{
		margin: 0;
	}
	.prepods__pre-one,
	.slider-con,
	.prepods-con{
		height: 375px;
	}
	.prepods__pre-one {
	    width: 290px;
	    height: 375px;
	}
	/*.prepods__pre-one:nth-child(3){
		left: 70px;
	}
	.prepods__pre-one:nth-child(4){
		left: 455px;
	}
	.prepods__pre-one:nth-child(5){
		left: 840px;
	}
	.prepods__pre-one:nth-child(6),
	.prepods__pre-one:nth-child(7),
	.prepods__pre-one:nth-child(8),
	.prepods__pre-one:nth-child(9){
		left: 1200px;
	}*/
	.block__one-person{
		width: 200px;
		height: 200px;
	}
	.block__text{
		width: 600px;
		height: 200px;
	}

}
@media (min-width: 1024px) and (max-width: 1200px) {
	.header-cont{
		justify-content: space-around;
	}
	.news-con,
	.nativs,
	.pluses,
	.how-cont,
	.prepods,
	.site-main,
	.price-con,
	.table__head:after,
	.callback-con,
	.contacts-con,
	.footer-con,
	.feedbacks__con,
	.content,
	.program__header form{
		width: 1023px;
	}
	.footer__copy, 
	.footer__adult, 
	.footer__kids, 
	.footer__info{
		text-align: center;
	}
	.copy__soc{
		width: 100%;
	}
	.copy__contacts{
		align-items: center;
	}
	.one-feed__img--img{
		width: 170px;
		height: 170px;
	}
	.prepods__pre-one,
	.slider-con,
	.prepods-con{
		height: 300px;
	}
	.prepods__pre-one {
	    width: 225px;
    	height: 300px;
	}
	/*.prepods__pre-one:nth-child(3){
		left: 70px;
	}
	.prepods__pre-one:nth-child(4){
		left: 399px;
	}
	.prepods__pre-one:nth-child(5){
		left: 728px;
	}
	.prepods__pre-one:nth-child(6),
	.prepods__pre-one:nth-child(7),
	.prepods__pre-one:nth-child(8),
	.prepods__pre-one:nth-child(9){
		left: 1050px;
	}*/
	.block__text--h2{
		font-size: 24px;
	}
	.block__text--p{
		font-size: 15px;
	}
	.block__one-person{
		width: 170px;
		height: 170px;
	}
	.block__text{
		width: 510px;
		height: 170px;
	}
	.program__header form p{
		width: 30%;
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.program__header form p:nth-last-child(2){
		width: 15%;
	}
	.program__header form label{
		text-align: center;
	}
	.program__header form label input{
		width: 100%;
	}
	.program__header form span.wpcf7-not-valid-tip{
		width: 105%;
		left: 0%;
	}
}
@media (max-width: 1024px) {
	.prepods,
	.contacts-con,
	.feedbacks__con,
	.content,
	.callback-con,
	.news,
	.how-cont,
	.pluses,
	.nativs,
	.news-con,
	.program__header form{
		width: 100%;
	}
	.contacts__map{
		width: 60%;
	}
	.contacts__info{
		width: 40%;
	}
	.header-cont{
		padding: 5px 0;
	}
	.header-cont,
	.footer-con{
		width: 100%;
		padding: 0 5px;
	}
	.footer-con{
		padding-top: 20px;
	}
	.header__logo--img,
	.header__logo a img{
		width: 60px;
	}
	.header__address--marker{
		font-size: 30px;
		margin-right: 5px;	
	}
	.header__mails--callback,
	.header__phone--a,
	.header__address--a{
		font-size: 14px;
	}
	.header__mails--callback{
		padding: 5px 15px;
		width: 160px;
	}

	.soc-links--a{
		width: 35px;
	    height: 35px;
	    font-size: 18px;
	}
	.main-nav--ul{
		padding: 0;
	}
	.main-nav--ul li{
		width: auto;
	}
	.content{
		flex-flow: column;
	}
	.aside__news{
		order: 2;
    	width: 100%;
    	flex-flow: row;
    	justify-content: space-around;
	}
	.feedbaks__feed-all{
		padding: 0 20px;
	}
	.feedbacks .one-article{
		order: 1;
	}
	.feed-all__one-feed{
		flex-flow: column;
		padding: 20px 0;
		border: none;
    border-bottom: 3px solid lightgray;
    border-radius: 0;
	}
	.one-feed__img{
		width: 100%;
		padding: 0px;
		order: 1;
	}
	.one-feed__img--img{
		width: 200px;
		height: 200px;
	}
	.one-feed__text{
		padding: 0;
		width: 100%;
		order: 2;
	}
	.one-feed__text--name-p,
	.one-feed__text p,
	.one-feed__text p.one-feed__text--name-p{
		text-align: center!important;
	}
	.one__feed__text--more{
		justify-content: center!important;
	}
	.prepods-con{
		width: 760px;
		margin: 0 auto;
	}
	.prepods-con,
	.prepods__pre-one,
	.slider-con{
		height: 270px;
	}
	.prepods-con__btn{
		font-size: 40px;
		top: calc(50% - 40px);
	}
	.prepods__pre-one {
	    width: 180px;
    	/*height: 230px;*/
	}
	/*.prepods__pre-one:nth-child(3){
		left: 50px;
	}
	.prepods__pre-one:nth-child(4){
		left: 290px;
	}
	.prepods__pre-one:nth-child(5){
		left: 530px;
	}
	.prepods__pre-one:nth-child(6),
	.prepods__pre-one:nth-child(7),
	.prepods__pre-one:nth-child(8),
	.prepods__pre-one:nth-child(9){
		left: 780px;
	}*/
	.contacts__form .wpcf7-validation-errors {
	    bottom: -65px;
	    width: 100%;
	}
	.table--td-m{
		font-family: 'Roboto', sans-serif;
		margin: 10px 0;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 700;
	}
	.how-cont{
		flex-wrap: wrap;
	}
	.price-con{
		display: none;
	}
	.news-con{
		flex-wrap: wrap;
	}
	.news-con__n-one{
		width: 30%;
	}
	.pluses,
	.nativs{
		padding: 0 20px;
	}
	.nativs__block{
		width: 50%;
		flex-direction: row;
	}
	.nativs__block:nth-child(3),
	.block__text{
		width: 100%;
	}
	.nativs__block:nth-child(4){
		display: none;
	}

	.block__one-person{
		width: 100%;
	}
	.one-person--img{
		width: 100%;
		height: 100%;
	}
	.pluses{
		padding: 0 20px;
		box-sizing: border-box;
		flex-wrap: wrap;
	}
	.pluses__one{
		flex-basis: 50%;
	}
	.main__text--h1{
		margin-bottom: 50px;
	}
	.program__header form{
		flex-wrap: wrap;
		padding-bottom: 40px;
	}
	.program__header form p{
		margin-bottom: 25px;
	}
	.program__header form .wpcf7-validation-errors{
		bottom: 5px;
		width: 90%;
	}
	.program__content{
		flex-basis: 100%;
		padding: 0 20px;
	}
}

@media screen and (max-width: 769px) {
	.contacts-con{
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 0;
	}
	.contacts__map,
	.contacts__info{
		width: 100%;
	}
	.contacts__map{
		order: 2;
	}
	.contacts__info{
		display: flex;
		flex-flow: column;
		align-items: center;
		order: 1;
	}
	.map-contacts{
		height: 250px;
	}
	.contacts__info--time,
	.contacts__info--address{
		font-size: 18px;
	}
	.info__form--h3{
		font-size: 20px;
	}
	.menu{
		padding: 5px 20px;
	}
	.m-menu{
		display: flex; 
	}
	.header__mails--callback:hover,
	.header__mails--callback:focus{
		box-shadow: none;
		background-color: #1976D2;
		color: #fff;
	}
	.header-cont{
		display: none;
	}
	.m-header{
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		padding: 10px 20px	;
	}
	.header__phone{
		margin-bottom: 20px;
	}
	.header__address--a,
	.header__phone--a{
		font-size: 18px;
		border-bottom: 2px solid #1976D2;
	}
	.header__phone--a:first-child{
		margin-bottom: 20px;
	}
	.menu__icon{
		display: inline-block;
	}
	.menu__links-item {
	    display: block;
	    padding: 10px 0;
	    text-align: center;
		color: #ffffff;
	}
	.site-main,
	.footer-con{
		width: 100%;
	}
	.main-nav{
		display: flex;
		align-items: center;
		padding: 0;	
	}
	.main-nav--ul{
		display: none;
		flex-flow: column;
	}
	.m-menu--btn{
		display: block;
		align-self: flex-end;
		font-size: 60px;
		cursor: pointer;
	}
	/*___footer769______*/
	.footer-con{
		flex-wrap: wrap;
		padding: 0 20px;
		padding-top: 10px;
		box-sizing: border-box;
	}
	.footer__adult,
	.footer__kids,
	.footer__info{
		flex-basis: 100%;
		text-align: center;
	}
	.footer__adult--h5, 
	.footer__kids--h5, 
	.footer__info--h5{
		font-size: 18px;
	}
	.footer__adult--ul li a, 
	.footer__kids--ul li a, 
	.footer__info--ul li a, 
	.footer__adult--a, 
	.footer__kids--a, 
	.footer__info--a{
		font-size: 16px;
	}
	.footer__copy{
		flex-basis: 100%;
		margin-top: 20px;
	}
	.copy__soc{
		width: 100%;
	}
	.copy__soc--a{
		font-size: 35px;
	}
	.copy__contacts{
		align-items: center;
	}
	.copy__contacts--a{
		font-size: 18px;
	}
	.copy__contacts--callback{
		font-size: 18px;
		margin: 20px 0;
	}
	.copy__copyright--pc{
		font-size: 16px;
	}
	.copy__copyright--p,
	.copy__copyright--a{
		font-size: 14px;
	}
	
	.popup_img, .popup__map-con .contacts__form span.wpcf7-not-valid-tip{
		width: 120%;
	    font-size: 14px;
	    left: -20px;
	}
	.popup_img, .popup__map-con .contacts__form .wpcf7-response-output{
		bottom: -70px;
	}
	.form input[type='submit'], .wpcf7-form input[type='submit']{
		box-shadow: none;
	}
	.popup_img, .popup__map-con{
		width: 90%;
		box-sizing: border-box;
		padding-bottom: 60px;
	}
	.contacts-con,
	.feedbacks__con,
	.content,
	.pluses,
	.nativs,
	.how-cont,
	.prepods,
	.news-con,
	.callback-con,
	.price-con,
	{
		width: 100%;
		box-sizing: border-box;
	}
	.aside__news{
    	flex-flow: column;
    	justify-content: center;
	}
	.pluses{
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
		padding: 20px;
	}
	.block__one-person{
		height: 300px;
	}
	.nativs__block{
		flex-flow: row wrap;
		justify-content: flex-start;
	}
	.block__one-person:first-child{
		display: none;
	}
	.one-person--img{
		width: 100%;
		height: 100%;
	}
	.one-person--info-name {
	    font-size: 18px;
	}
	.block__one-person:hover .one-person--img {
	    transform: scale(1.1);
	    transition: transform 5s;
	}
	.block__text{
		width: 100%;
		height: 300px;
	}
	.nativ__block--imgs .block__one-person:first-child{
		display: none;
	}
	.how-cont{
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	.prepods{
		padding: 0 20px;
	}
	.news-con{
		flex-flow: row wrap;
		padding: 0 20px;
	}
	.news-con__n-one{
		width: 40%;
	    border-bottom: 3px solid lightgray;
	    margin-bottom: 20px;
	}
	.news-con__n-one:last-child{
		display: none;
	}
	.news-con__n-one:hover{
		box-shadow: none;
		top: 0;
		left: 0;
	}
	.callback-con{
		padding-left: 20px; 
		padding-right: 20px; 
	}
	.callback-con form{
		flex-flow: column;
		align-items: center;
	}
	.callback-con form p{
		width: 100%;
		text-align: center;	
	}
	.prepods-con{
		width: 100%;
		height: 380px;
	}
	.prepods__pre-one,
	.slider-con{
		height: 380px;
	}	
	.prepods-con__btn{
		font-size: 50px;
    	top: calc(50% - 30px);
	}
	#prev-prepod{
		left: -8px;
	}
	#next-prepod{
		right: -8px;
	}
	.info__form{
		margin-bottom: 50px;
	}
	.price-con{
		padding: 0 20px;
	}
	tbody,
	.price__table,
	.table--td,
	.table__head--td-m{
		display: block;
		width: 100%;
	}
	tbody{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	.table--tr {
	    width: 49%;
	    border-bottom: 2px solid #1976D2;
	}
	.table--td {
	    font-weight: 700;

	}
	.table__head--td-m {
	    text-align: center;
	    font-family: 'Open Sans', sans-serif;
	}
	.price__table{
		border: none;
	}
	.price--h3{
		font-size: 25px;
	}
	/*.price--h3,*/
	.table__head--tr,
	.table__head:after{
		display: none;
	}
	.mobile-price{
		/*display: block;*/
	}
	.program__header form{
		flex-flow: column;
		align-items: center;
		padding: 45px 20px;
	}
	.program__header form p label{
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
	}
	.program__header form p{
		margin-right: 0;
	}
	.program__header form span.wpcf7-not-valid-tip{
		bottom: -20px;
	}
	.program--h2{
		padding: 0 20px;
		width: 100%;
	}
	.program__one-program img{
		object-position: 0 0!important;
	}
	.program__con{
		width: 100%;
		padding: 0 20px;
		flex-flow: column;
	}
	.program__one-program{
		flex-basis: 100%;
		width: 100%;
	}
	.program__header{
		padding-left: 20px;
		padding-right: 20px;
	}
	.program__header > p{
		text-align: center;
	}
	.program__header form{
		padding: 20px 10px;
	}
	.program__header form label input{
		width: 100%;
	}
	.prepod-one{
		flex-flow: column;
		padding: 0 20px; 
	}
	.photo-con,
	.prepod-one:after{
		width: 100%;
	}
	.prepod-one__photos, 
	.prepod-one__desc{
		width: 100%;
	}
}
@media (min-width: 600px) and (max-width: 760px) {
	.prepods__pre-one{
		width: 40%;
	}

	/*.prepods__pre-one:nth-child(3){
		left: 30px;
	}
	.prepods__pre-one:nth-child(4){
		left: calc((100% - 40%) - 30px);
	}
	.prepods__pre-one:nth-child(5),
	.prepods__pre-one:nth-child(6),
	.prepods__pre-one:nth-child(7),
	.prepods__pre-one:nth-child(8),
	.prepods__pre-one:nth-child(9){
		left: calc(100% + 20px);
	}*/
	.prepods--h2:after,
	.news--h2:after,
	.price--h2:after{
		width: 60%;
		left: 20%;
	}

}
@media (max-width: 600px) {
	.prepods__pre-one,
	.slider-con,
	.prepods-con{
		height: 420px;
	}
	.prepods__pre-one{
		width: 80%;

	}

	/*.prepods__pre-one:nth-child(3){
		left: 10%;
	}
	.prepods__pre-one:nth-child(4),
	.prepods__pre-one:nth-child(5),
	.prepods__pre-one:nth-child(6),
	.prepods__pre-one:nth-child(7),
	.prepods__pre-one:nth-child(8),
	.prepods__pre-one:nth-child(9){
		left: calc(100% + 20px);
	}*/
	.prepods--h2:after,
	.news--h2:after,
	.price--h2:after{
		width: 60%;
		left: 20%;
	}
	.prepods__pre-one:hover .pre-one__desc{
		bottom: -13%;
	}
	.news-con__n-one{
		width: 80%;
	}
}

@media screen and (max-width: 500px) {
	.table--tr{
		width: 100%;
	}
}
@media screen and (max-width: 425px) {
	/*___footer425___*/
	.footer__adult, 
	.footer__kids, 
	.footer__info{
		flex-basis: 100%;
	}

}
