.dark-primary-color    { background: #1976D2; } /*Основной синий*/
.default-primary-color { background: #2196F3; } /*Светлоголубой*/
.light-primary-color   { background: #BBDEFB; } /*Еще светлее светлоголубой*/
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFEB3B; } /*Основной желтый*/
.primary-text-color    { color: #212121; } /*Черный для текста*/
.secondary-text-color  { color: #757575; } /*Серый для до. текста*/
.divider-color         { border-color: #BDBDBD; } /*Серый*/

#FEE04B /*Оригинальный желтый*/
#157bb6 /*Оригинальный синий*/